@model PRODUTOSTORE.Models.ProdutoModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluindo produto</h1>

<h3 class="alert alert-warning">Tem certeza que quer deletar esse produto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            Nome
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-4">
            Descrição
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-4">
            Ativo?
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class = "col-sm-4">
            Perecível?
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Perecivel)
        </dd>
        <dt class = "col-sm-4">
            Categoria do Produto
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CategoriaProduto.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark">Voltar</a>
    </form>
</div>
